@model List<AcunMedyaAkademiPortfolio.Models.TblSocialMedia>
<ul class="ftco-footer-social list-unstyled mt-2">
    @foreach (var item in Model)
    {
        <li class="ftco-animate"><a href="@item.PlatformUrl"><span><img src="@item.IconUrl" style="width:25px;height:25px"/></span></a></li>
    }
    </ul>
