@model AcunMedyaAkademiPortfolio.Models.TblProject
@{
    ViewBag.Title = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Proje Ekleme</h2>
<form method="post">
    <label>Proje ID</label>
    @Html.TextBoxFor(x => x.ProjectId, new { @class = "form-control" })

    <label>Proje Adı</label>
    @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control" })

    <label>Proje Resmi</label>
    @Html.TextBoxFor(x => x.ProjectImageUrl, new { @class = "form-control" })

    <label>Proje Kategorisi</label>
    @Html.TextBoxFor(x => x.ProjectCategory, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>


