@model List<AcunMedyaAkademiPortfolio.Models.TblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Servislerimiz</h2>
<table class="table table-bordered">
    <tr>
        <th>Servis ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Icon Url</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model) 
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Despcription</td>
            <td>@item.IconUrl</td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
            <td></td>
        </tr>
    }
    </table>
<td><a href="/Service/CreateService" class="btn btn-success">Yeni Servis Ekle</a></td>
