@model AcunMedyaAkademiPortfolio.Models.TblService
@{
    ViewBag.Title = "UpdateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Servis Güncelleme</h2>
<form method="post">
    <label>Servis ID'si</label>
    @Html.TextBoxFor(x => x.ServiceId, new { @class = "form-control" })

    <label>Servis Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
 
    <label>Servis Açıklaması</label>
    @Html.TextBoxFor(x => x.Despcription, new { @class = "form-control" })

    <label>Icon Url</label>
    @Html.TextBoxFor(x => x.IconUrl, new { @class = "form-control" })

    <br />
    <button class="btn btn-info">Servisi Güncelle</button>
</form>
