@model AcunMedyaAkademiPortfolio.Models.TblFeature
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Özellik Ekleme</h2>
<form method="post">
    <label>Özellik ID</label>
    @Html.TextBoxFor(x => x.FeatureId, new { @class = "form-control" })

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.FeatureTitle, new { @class = "form-control" })

    <label>Alt Başlık</label>
    @Html.TextBoxFor(x => x.FeatureSubtitle, new { @class = "form-control" })

    <label>Image Url</label>
    @Html.TextBoxFor(x => x.FeatureImageUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Özelliği Kaydet</button>
</form>